.buttons-container {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: none;
}

.right-button-container,
.left-button-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
}

.right-button-container {
  right: 20px;
}

.left-button-container {
  left: 20px;
}

.right-button, .left-button {
  width: 80px;
  height: 80px;
  background-color: rgba(70, 233, 239, 0.65);
  transition: background-color 0.3s ease;
}

.right-button:hover, .left-button:hover {
  background-color: rgba(42, 121, 150, 0.65);
}

.buttons-icon {
  font-size: 50px;
}
