.step4-container {
       text-align: right;
    margin: 5.5rem auto;
}

.step4-header {
    text-align: center;
    margin: 2.5rem 0;
}

.step4-title {
    font-size: 2rem;
    font-weight: bold;
    color: #701a75; /* equivalent to text-fuchsia-900 */
}

.step4-grid {
   padding: 1rem;
}

.step4-grid-item {
   margin-bottom: 1.5rem;
}
