.step2-container {
    text-align: right;
    margin: 7rem;
}

.step2-header {
    text-align: center;
    margin: 2.5rem 0;
}

.step2-title {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #000000; /* equivalent to text-fuchsia-900 */
}

.step2-grid {
    padding: 1rem;
}

.step2-grid-item {
    margin-bottom: 1.5rem;
}
.step2-title2 {
    margin-top: 10px;
    font-size:  20px;
    font-weight: bold;
    color: #3d3b3b; /* equivalent to text-fuchsia-900 */
}