
.sidebar-wrapper {
  background-color: #f0f2fa;

  width: 50px; /* fermé */
  transition: width 0.3s ease-in-out;
  overflow: hidden;
   z-index: 50;           /* moins que navbar */
  padding-top: 70px;
  padding-right: 20px;
  background-color: #e6e8dc;
}

.sidebar-wrapper.open {
  width: 300px;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
 
}

.sidebar-wrapper.open .sidebar-title {
  opacity: 1;
}
.sidebar-toggle-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  user-select: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  padding: 0;
  margin-left: 40px;
  line-height: 1;
  background-color: #912626;
}

.btn-close {
  background-color: #3b82f6; 
  color: white;
}
.sidebar-toggle-btn:hover {
  background-color: #fdfdfd;
}
.sidebar-open-btn {
  background: #10b981;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
  margin: 1rem auto 0 auto;
  display: block;
}
.sidebar-open-btn:hover {
  background: #0d946b;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;

 
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
  background: none;
  border: none;
  width: 100%;
  text-align: right;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
}

.sidebar-item svg {
  margin-left: 10px;
  font-size: 18px;
  color: #555;
}

.sidebar-item span {
  display: none;
  margin-left: 10px;
}

.sidebar-wrapper.open .sidebar-item span {
  display: inline;
}

.sidebar-item:hover {
  background-color: #e0e0e0;
  border-radius: 8px;
}
